@import url('https://fonts.googleapis.com/css?family=montserrat:600|Open+Sans:600&display=swap');

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #6c80c4;
}


.res{
    background-color: rgba(0, 0, 0, 0.705);
    position: absolute;
    box-shadow: 0 6px 30px rgba(255, 255, 255, 0.527);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 100px 200px;
    border-radius: 15px;
    color: white;
}

input, textarea{
    width: 100%;
    padding: 5px 30px;
}
